<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-link"></i> Servicio EsayLine
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <il class="nav-item">
          <a class="nav-link" href="/links/add">Agregar Registro</a>
        </il>
        <li class="nav-item">
          <a class="nav-link" href="/links">Registros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">Inicio</a>
        </li>
        
        {{/if}}
      </ul>
    </div>
  </div>
</nav>